@{
    ViewBag.Title = "Privacy Policy";
}
<div class="text-center my-auto mx-auto prose">
    <h1>@ViewBag.Title</h1>

    <div class="my-auto">
        <p>Wil je graag weten hoe je gegevens worden verwerkt en hoe we met je privacy omgaan?</p>
        <p>Dat is begrijpelijk. Graag verwijzen we je door naar de Privacy Policy van Windesheim. Klik op onderstaande knop om deze te bekijken</p>
        <div class="m-auto justify-center">
            <a href="https://www.windesheim.nl/pagina-s/privacystatement" class="inline-flex px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                </svg>
                De Privacy Policy van Windesheim
            </a>
        </div>
    </div>
</div>

