@model Library.Models.User
@{
    ViewBag.Title = "Registratie";
}

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form asp-controller="User" asp-action="Register">
                @Html.AntiForgeryToken()
                <div class="shadow overflow-hidden sm:rounded-md">
                    <h1 class="text-xl font-sans text-center">Welkom @Model.Name</h1>
                    <p class="font-sans text-center">Voordat je verder gaat, hebben we nog iets meer informatie nodig.</p>
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="credits" class="block text-sm font-medium text-gray-700">Studiepunten/EC's</label>
                                <input asp-for="Credits" type="number" min="0" max="240" name="credits" id="credits" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="grade" class="block text-sm font-medium text-gray-700">Leerjaar</label>
                                <input asp-for="Grade" type="number" min="1" max="4" name="grade" id="grade" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                            </div>

                        </div>
                        <div class="px-4 pt-10 text-center sm:px-6">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Registratie afronden
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>